{% extends 'base.html.twig' %}

{% block title %}Scylla - Arts De La Scène
{% endblock %}

{% block main %}
	<main class="container home bg-scylla">
		<img class="image-bg container-size" src="/img/20230624-200623-06132-Thomas-Brunet.jpg" alt="Photo sur scène">

		<section class="block-brand-title">

			<h1 class="color-white font-oswald marge-0 big-brand-font">SCYLLA</h1>
			<h4 class="color-white font-ysabeau marge-0 medium-brand-font font-thin">Arts De La Scène</h4>
		</section>

		<section class="block-menu of-hid">
			<nav class="sc-nav of-hid">
				<ul class="ls-n sc-ul">
					<li class="sc-li of-hid">
						<a class="td-n color-white font-oswald sc-link big-font-xl of-hid" href="{{ path('app_infos_asso_index') }}" aria-label="Onglet à propos">A PROPOS</a>
					</li>
					<li class="sc-li of-hid">
						<a class="td-n color-white font-oswald sc-link big-font-xl of-hid" href="{{ path('app_ateliers_index') }}" aria-label="Onglet ateliers">ATELIERS</a>
					</li>
					<li class="sc-li of-hid">
						<a class="td-n color-white font-oswald sc-link big-font-xl of-hid" href="{{ path('app_evenements_index') }}" aria-label="Onglet évènements">EVENEMENTS</a>
					</li>
					<li class="sc-li of-hid">
						<a class="td-n color-white font-oswald sc-link big-font-xl of-hid" href="{{ path('app_galerie_index') }}" aria-label="Onglet galerie">GALERIE</a>
					</li>

				</ul>
			</nav>
		</section>

	</main>

{% endblock %}

