{% extends 'base.html.twig' %}

{% block title %}Scylla - Mail de réinitialisation envoyé{% endblock %}

{% block body %}

<div class="container bg-scylla disp-flex disp-flex-around color-white font-oswald">
    <p>
        Si le mail communiqué est relié à un compte, tu viens de recevoir un mail avec le lien de réinitialisation de mot de passe ! 
        Le lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si tu ne reçois pas le mail, vérie les spams ou clique sur <a class="go-btn color-white" href="{{ path('app_forgot_password_request') }}">Renvoyer le mail</a>.</p>
</div>
{% endblock %}
