<div class="container bg-scylla disp-flex disp-flex-around color-white font-oswald">
    <h1>Hey !</h1>

    <p>Pour réinitialiser ton mot de passe, clique sur le lien ci-dessous</p>

    <a class="go-btn color-white font-oswald" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

    <p>Ce lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

</div>
