{% extends 'base.html.twig' %}

{% block title %}Scylla - Réinitilisation de mot de passe{% endblock %}

{% block body %}
<div class="container bg-scylla disp-flex disp-flex-around color-white font-oswald">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Réinitialise ton mot de passe</h1>
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="disp-flex-around-col">
            <small>
                Indique ton adresse mail pour recevoir le lien de réinitialisation de mot de passe.
            </small>
        </div>

        <button class="go-btn color-white font-oswald width-height disp-flex-around">Recevoir le mail de réinitialisation</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
