{% extends 'base.html.twig' %}

{% block title %}Scylla - Réinitialisation du mot de passe{% endblock %}

{% block main %}
<main class="container bg-scylla disp-flex-center-col color-white font-oswald">
    <h1 class="big-font-xl txt-a upper-text">Réinitialise ton mot de passe</h1>

    <div class="boxing marge-2">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <div class="disp-flex-around">
                <button class="go-btn color-white font-oswald disp-flex-around">Réinitialiser mon mot de passe</button>
            </div>
        {{ form_end(resetForm) }}
    </div>
</main>
{% endblock %}
