{% extends 'base.html.twig' %}

{% block title %}Scylla - Réinitialisation du mot de passe{% endblock %}

{% block body %}
<div class="container bg-scylla disp-flex disp-flex-around color-white font-oswald">
    <h1>Réinitialise ton mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="go-btn color-white">Réinitialiser mon mot de passe</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
