{% extends 'base.html.twig' %}

{% block title %}Scylla - Adhérents{% endblock %}

{% block body %}

<div class="container-center bg-scylla color-white font-ysabeau">
    
    <a class="td-n color-white font-oswald link-ns medium-font pad-1" href="{{ path('app_infos_adherent_index') }}">INFORMATIONS DES ADHERENTS</a>
    <h1 class="txt-a">Liste des adhérents</h1>

    <table class="sc-table">
        <thead>
            <tr>
                <th class="big-font">NOM - Prénom</th>
                <th class="big-font">MAIL</th>
            </tr>
        </thead>
        <tbody>
        {% for adherent in adherents %}
            <tr>
                <td>{{ adherent.getInfosAdherent() }}</td>
                <td>{{ adherent.email }}</td>
            </tr>
        {% else %}
            <tr>
                <td class="big-font-xl font-oswald color-white" colspan="5">Aucun adhérent enregistré...</td>
            </tr>
        {% endfor %}
        </tbody>
       
    </table>
    <div class="txt-a color-white font-oswald">
        {{ knp_pagination_render(adherents) }}
    </div>


    
                
</div>
    

 
{% endblock %}
