{% extends 'base.html.twig' %}

{% block title %}Scylla - Ateliers{% endblock %}

{% block contenu %}
    <div class="container bg-scylla d-column color-white font-oswald div-flex">
        <div class="d-col marge-1033"> 
            <h1 class="font-oswald atelier-title marge-bt">{{atelier.label}}</h1>
            <ul class="ls-n">
                    <li class="sc-li">
                        <a class="td-n color-white font-oswald sc-link big-font" href="">ACCUEIL</a>
                    </li>
                    <li class="sc-li">
                        <a class="td-n color-white font-oswald sc-link big-font" href="#">A PROPOS</a>
                    </li>
                    <li class="sc-li">
                        <a class="td-n color-white font-oswald sc-link big-font" href="#">ATELIERS</a>
                    </li>
                    <li class="sc-li">
                        <a class="td-n color-white font-oswald sc-link big-font" href="#">EVENEMENTS</a>
                    </li>
                    <li class="sc-li">
                        <a class="td-n color-white font-oswald sc-link big-font" href="#">GALLERIE</a>
                    </li>
                    <hr class="menu-hr"/>
                    <li class="sc-li">
                        <a class="td-n color-white font-oswald sc-link medium-font" href="{{ path('app_login') }}">COMPTE ADHERENT</a>
                    </li>

                </ul>
        </div>
        
        <hr class="atelier-hr" />

        <div class="card marge-1033">
            <h3 class="marge-1033">EN SAVOIR PLUS</h3>
            <span cols="30" rows="10">{{atelier.description}}</span>
        </div>
        




    </div>
    




{% endblock %}