@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(#000000 35%, #002177 85%, #0032B4 100%);
    color: white;
    font-family: 'Oswald', sans-serif;
}
