.img-card-at{
    height: inherit;
    width: inherit;
    border-radius: 1rem;
    border: 2px solid white;

}

.illu-at{
    height: 300px;
    margin: 1rem;
    border-radius: 1rem;
}

.card-at {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 360px; 
    color: white;
    background-color: #002177;
    border: 4px solid white;
    border-radius: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: auto;
    transition: transform 0.3s ease-in-out;
    margin: 4rem;
    
    
}

.card-at:hover {
    transform: scale(1.05);
    box-shadow: white 0px 19px 38px, rgba(255, 255, 255, 0.646) 0px 15px 12px;
    
}

.at-titre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid white;
    padding: 1rem;
}

.at-btn{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    text-decoration: none;
    border-radius: 1rem;
    border: 1px solid white;
    transition: filter 0.1s;
    margin: 1rem;
    background-color: #002177;
}

.at-btn:hover{
    filter:brightness(80%);
}

.at-det{
    margin:1rem;
    
}


.li-cours{
    padding: 2rem;
    border-radius: 2rem;
    border: 3px solid #002177;
    background-color: white;
    color: #002177;
    margin: 1rem;
}