/* Styles généraux */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style du bouton */
  .dropdown-toggle {
    padding: 10px;
    background-color: #0032B4; 
    color: #fff; 
    border: 1px solid white;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  /* Style du menu déroulant */
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column; 
    background-color: #0032B4; 
    border-radius: 0 1rem 1rem 0;
    border: 1px solid white;
    
  }
  
  /* Afficher le menu déroulant au survol du bouton */
  .dropdown:hover .dropdown-menu {
    display: flex;
  }
  
  /* Style des liens dans le menu déroulant */
  .dropdown-menu a {
    padding: 10px;
    min-width: 150px;
    max-width: 200px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 1rem;
  }
  
  /* Changement de couleur au survol des liens */
  .dropdown-menu a:hover {
    background-color: #002177; 
  }
  




/* Afficher le menu déroulant au survol du bouton (pour les écrans larges) */
@media screen and (max-width: 769px) {
    .dropdown-toggle {
        visibility: hidden;
      }
    .dropdown-menu {
        display: flex;
        flex-direction: row; /* Afficher en ligne pour les petits écrans */
        justify-content: center;
        align-items: center;
        top: 50%; /* Positionner le menu à 50% du haut de l'écran */
        left: 50%; /* Positionner le menu à 50% de la largeur de l'écran */
        transform: translate(-50%, -50%); /* Centrer le menu en utilisant translate */
        border-radius: 1rem;
        
    }

    .dropdown-menu a {
        padding: 10px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        font-size: 2rem;
        text-align: center;
    }

    .dropdown-menu a:not(:first-child) {
        border-left: 1px solid white;
    }

    /* Changement de couleur au toucher des liens (pour les écrans tactiles) */
    .dropdown-menu a:active,
    .dropdown-menu a:focus {
        background-color: #002177; /* Couleur au toucher des liens */
        border-radius: 1rem;
    }
}

/* Styles des liens dans le menu déroulant (pour les écrans étroits) */
@media screen and (max-width: 768px) {
    .dropdown-toggle {
        visibility: hidden;
      }
    .dropdown-menu {
        display: flex;
        flex-direction: row; /* Afficher en ligne pour les petits écrans */
        justify-content: center;
        align-items: center;
        top: 50%; /* Positionner le menu à 50% du haut de l'écran */
        left: 50%; /* Positionner le menu à 50% de la largeur de l'écran */
        transform: translate(-50%, -50%); /* Centrer le menu en utilisant translate */
        border-radius: 1rem;
    }

    .dropdown-menu a {
        padding: 10px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        font-size: 12px;
        text-align: center;
        
    }

    .dropdown-menu a:not(:first-child) {
        border-left: 1px solid white;
    }

    /* Changement de couleur au toucher des liens (pour les écrans tactiles) */
    .dropdown-menu a:active,
    .dropdown-menu a:focus {
        background-color: #002177; /* Couleur au toucher des liens */
        
    }
}