
.galerie-disp{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}

.up-img{
    height: auto;
    width: 250px;
    border: 1px solid white;
    border-radius: 0.5rem;
    margin: 1rem;
}

