
.galerie-disp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.up-img{
    max-width: 400px;
    min-width: auto;
    height: auto;
    border: 1px solid white;
    border-radius: 0.5rem;
    margin: 1rem;
}

