.bg-header{
    background-color: #001b60;
    border-bottom: 1px solid white;
}
.disp-flex-al-cent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

}

.flex-start{
    justify-content: flex-start;
}

.flex-end{
    justify-content: flex-end;
}


.pad-1{
    padding: 1rem;
}

.header-img {
    height: 2rem;
    width: 3em;
    height: 4em;

}

.header-nav{
    padding: 0.2rem;
}

.head-link{
    text-decoration: none;
    font-family: 'Oswald', 'sans-serif';
    font-size: 2rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: all 400ms;
}

.head-link:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.head-link:focus{
    transform: scale(0.8);
}
.head-link:active{
    box-shadow: white;
}

/*MOBILE*/
@media screen and (min-width: 300px) and (max-width: 500px) {
    .head-link{
        text-decoration: none;
        font-family: 'Oswald', 'sans-serif';
        font-size: 1rem;
        padding: 0.3rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        transition: all 400ms;
    }
    .head-link:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .head-link:focus{
        transform: scale(0.8);
    }
  
}

/*TABLETTE*/
@media screen and  (max-width: 992px) {

    .head-link{
        text-decoration: none;
        font-family: 'Oswald', 'sans-serif';
        font-size: 1rem;
        padding: 0.3rem;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
        transition: all 400ms;
    }
    .head-link:hover{
        transform: scale(1.05);
        cursor: pointer;
    }
    
    .head-link:focus{
        transform: scale(0.8);
    }

}