.frame-box{
    min-width: 30rem;
    width: max-content;
    height: max-content;
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px solid white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    transition: all 200ms;
    margin-top: 1rem;
    align-self: center;
}

.sc-profile-table{
    /* min-width: 900px; */
    max-width: 25rem;
    align-self: center;
}

.sc-profile-table>tbody>tr>th{
    text-align: start;
}



.ul-inline{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding-left: 0px;
    align-items: flex-start;
    justify-content: space-around;
}

.ul-inline>li{
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid white;
    max-height: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    transition: all 200ms;
}

.ul-inline>li:hover{
    background-color: #000f37;
}

.grid-profile{
    display: grid;
    grid-template-areas:
        "a a a a c c c c"
        "b b b b c c c c"
        "b b b b c c c c"
        "d d d d e e e e"
        "d d d d e e e e";
}

.area-a{
    grid-area: a;
}

.area-b{
    grid-area: b;
}

.area-c{
    grid-area: c;
}

.area-d{
    grid-area: d;
}

.area-e{
    grid-area: e;
}


.profile-hr{
    margin-top: 0.5rem;
    border-color: white;
}

