.frame-box{
    min-width: 30rem;
    width: max-content;
    height: max-content;
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px solid white;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    transition: all 200ms;
    margin-top: 1rem;
    align-self: center;
    margin-left: 0.5rem;
}

.sc-profile-table{
    max-width: 25rem;
    align-self: center;
    margin-left: 0.5rem;
}

.sc-profile-table>tbody>tr>th{
    text-align: start;
}



.ul-prof-links{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    justify-content: space-around;
    border: 1px solid white;
    border-radius: 2rem;


}

.ul-prof-links>li{
    padding: 1rem;
    max-height: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    transition: all 200ms;
}

.ul-prof-links>li:hover{
    background-color: #002277a3;
    border-radius: 1rem;
    color: black;
}

.grid-profile{
    display: grid;
    grid-template-areas:
        "a a a a c c c c"
        "b b b b c c c c"
        "b b b b c c c c"
        "f f f f f f f f"
        "f f f f f f f f"
        "f f f f f f f f"
        "d d d d e e e e"
        "d d d d e e e e";
}

.area-a{
    grid-area: a;
}

.area-b{
    grid-area: b;
}

.area-c{
    grid-area: c;
}

.area-d{
    grid-area: d;
}

.area-e{
    grid-area: e;
}

.area-f{
    grid-area: f;
}


.profile-hr{
    margin-top: 0.5rem;
    border-color: white;
}

.box-titre{
    padding: 0.5rem;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 1rem;
}

.marge-top-2{
    margin-top: 2rem;
}


/* Media Queries pour les tablettes et les téléphones */

@media screen and (max-width: 1024px) {

    

    .grid-profile{
        display: grid;
        grid-template-areas:
            "a a a"
            "b b b"
            "b b b"
            "f f f"
            "c c c"
            "d d d"
            "e e e";
    }
    .frame-box{
        max-width: 20rem;
        width: max-content;
        height: max-content;
        padding: 1rem;
        border-radius: 1.5rem;
        border: 1px solid white;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        transition: all 200ms;
        margin:1rem;
        justify-self: center;
    }
    .sc-profile-table{
        max-width: 20rem;
        margin: 1rem;
        justify-self: center;
        
    }
    .ul-prof-links{
        display: flex;
        flex-direction: column;
        justify-self: center;
        list-style: none;
        margin: 1rem;
        padding-left: 0px;
        align-items: flex-start;
        justify-content: space-around;
    }
}