.sc-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.sc-table> th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}



