<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Bienvenue chez Scylla - Arts De La Scène, une association d'arts de la scène qui revisite le concept de comédie musicale">
        <title>{% block title %}Scylla - Arts De La Scène{% endblock %}</title>
        <link rel="canonical" href="{{ path('app_home') }}">
        <link rel="icon" href="{{ asset('img/sc-logo-a5.jpg') }}">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'navigation/header.html.twig' %}
        {% endblock %}
        
        {% block main %}
        {% endblock %}
       

        {% block footer %}
            {% include 'navigation/footer.html.twig' %}
        {% endblock %}
    </body>
</html>
