{% extends 'base.html.twig' %}

{% block title %}Scylla - Contact{% endblock %}

{% block main %}

<main class="container bg-scylla color-white disp-flex-start-col">
    
    <h1 class="big-font-xl font-oswald upper-text txt-a">Contactez-nous</h1>

    <div class="form-box disp-flex-center-col font-ysabeau marge-2 border-2">
        {% for infos_asso in infos_assos %}
        <h3 class="txt-a marge-bot-1 upper-text">Nos coordonnées</h3>
        <hr class="sc-trait">
        <h3 class="txt-a upper-text txt-u">Mail</h3>
        <h3 class="parag marge-bot-1">{{ infos_asso.mail }}</h3>
        <h3 class="txt-a upper-text txt-u">Téléphone</h3>
        <h3 class="txt-a marge-bot-1 marge-bot-2">{{ infos_asso.telephone }}</h3>
                
        {% else %}

        <h3 class="txt-a marge-bot-1 upper-text marge-bot-2">Informations à venir...</h3>
            
        {% endfor %}
        <h3 class="txt-a">N'hésitez pas à nous envoyer un message ou à nous appeler</h3>
        <h3 class="txt-a marge-bot-1">Nous sommes réactifs !</h3>
        <hr class="sc-trait">
        <p class="small-font txt-u">RAPPEL</p>
        <p class="small-font">Toute inscription en tant qu'adhérent.e de SCYLLA passe par l'association.</p>
        <p class="small-font">Pour toute demande d'inscription, envoyez un mail à l'adresse indiquée plus haut.</p>
        <hr class="sc-trait">
        <a class="sc-form-btn link-ns" href="{{ path('app_infos_asso_index') }}">A PROPOS</a>
    </div>
</main>
{% endblock %}