<form method="post" action="{{ path('app_infos_adherent_delete', {'id': infos_adherent.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ infos_adherent.id) }}">
    <button class="btn">Delete</button>
</form>
