{% extends 'base.html.twig' %}

{% block title %}Edit InfosAdherent{% endblock %}

{% block body %}

    <div class="container-center bg-scylla color-white disp-flex-start-col">


        <h1 class="font-oswald pad-2 big-font-xl form-box marge-2">MODIFIER MES INFORMATIONS</h1>

        {# <div class="disp-flex-center-col form-box marge-2 font-oswald"> #}

            {{ include('infos_adherent/_form.html.twig', {'button_label': 'MODIFIER'}) }}

        {# </div> #}

        

       

    
    </div>
{% endblock %}
